.center-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;   /* centra verticalmente */
  align-items: center;       /* centra horizontalmente */
  text-align: center;
}
